@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ProductSans;
    font-weight: 400;
    src: url(../font/ProductSans/ProductSans-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: MonaSans;
    font-weight: 400;
    src: url(../font/MonaSans/TTF/MonaSans-Regular.ttf) format("ttf");
  }
}